<div class="container">
  <mdb-card class="mb-3" borderColor="border-secondary" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Secondary Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="mb-3" borderColor="border-success" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Success Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="mb-3" borderColor="border-danger" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Danger Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="mb-3" borderColor="border-warning" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Warning Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="mb-3" borderColor="border-info" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Info Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="mb-3" borderColor="border-light" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Light Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 50rem">
    <mdb-card-header>Header</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Dark Panel title</h5>
      </mdb-card-title>
      <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
        panel's content.</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>