
<div class="container">
    <div class="row">
      <div class="col">
        <!-- 1 of 3 -->
        <div class="btn-group" role="group" aria-label="Basic example">
          <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>
            Regresar
          </button>
        </div>
      </div>
      <div class="col-6">
        <!-- 2 of 3 (wider) -->
      </div>
      <div class="col">
        <!-- 3 of 3 -->
        <div class="btn-group" role="group" aria-label="Basic example">
          <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>
            Continuar
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>