<div class="container">
  <mdb-card style="max-width: 50rem">
    <mdb-card-header>Featured</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h5>Special title treatment</h5>
      </mdb-card-title>
      <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
      
      <div class="custom-control custom-radio">
        <input [(ngModel)]="template" [value]="1" type="radio" class="custom-control-input" id="defaultInline1" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline1">Default unchecked</label>
      </div>
      
      <div class="custom-control custom-radio">
        <input [(ngModel)]="template" [value]="2" type="radio" class="custom-control-input" id="defaultInline2" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline2">Default checked</label>
      </div>

      <div class="custom-control custom-radio">
        <input [(ngModel)]="template" [value]="3" type="radio" class="custom-control-input" id="defaultInline3" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline3">Default unchecked</label>
      </div>
      
      <div class="custom-control custom-radio">
        <input [(ngModel)]="template" [value]="4" type="radio" class="custom-control-input" id="defaultInline4" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline4">Default checked</label>
      </div>
      <div class="container text-right">
        <button mdbBtn color="primary" mdbWavesEffect (click)="getCheckboxesValue()">Continuar</button>        
      </div>
    </mdb-card-body>
  </mdb-card>
</div>