/* You can add global styles to this file, and also import other style files */
body {
    // background="assets/bg/back-login-3.png"
    background-image: url('assets/bg/back-login-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: bottom;
}